.navBar {
     padding: 1rem;
     display: flex;
     background-color: #033e5e;
     align-items: center;
}

.logoNav {
     width: 20%;
     display: flex;
     justify-content: center;
}

.logoNav .logo {
     width: 30%;
}

.menu {
     display: flex;
     justify-content: space-evenly;
     width: 60%
}

.menuList {
     width: 100%;
     justify-content: center;
     display: flex;
     font-size: 1.4em;
}

.menuItem a {
     color: #fafafa;
    font-size: 1.2em;
}

.menuItem {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 .8em 0 .8em;
     transition: .5s all ease-in;
}

.menuItem:hover {
     transform: scale(1.1);
}

.contenedorBoton {
     display: flex;
     justify-content: space-evenly;
     width: 20%;
     align-items: center;
}

.menuHamburguesa{
     font-size: 30px;
     color: #fafafa;
     display:none;
}

@media screen and (max-width: 490px) {
     .menu {
          display: none;
     }
     .menuList {
          flex-direction: column;

     }
     .contenedorBoton {
          width: 40%;
     }
     .menuHamburguesa {
          display: flex;
     }
}
